<?xml version="1.0" encoding="utf-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="org.worona.configreader"
  version="1.0.0">
    <name>Config Reader</name>
    <description>
      Read the config.xml info of the App and make it available in js.
    </description>
    <license>MIT</license>
    <keywords>
      cordova,worona,id,name,version,description,author,config,xml
    </keywords>

    <asset src="www/configReader.js" target="js/configReader.js"/>

    <js-module name="ConfigReader" src="www/configReader.js">
        <clobbers target="ConfigReader"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <platform name="android"/>
    <platform name="amazon-fireos"/>
    <platform name="ubuntu"/>
    <platform name="ios"/>
    <platform name="blackberry10"/>
    <platform name="wp7"/>
    <platform name="wp8"/>
    <platform name="windows8"/>
    <platform name="windows"/>
    <platform name="browser"/>
</plugin>
