<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.worona.cordova"
        version="1.0.0">

  <name>WoronaCordova</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/woronaCordova.js" target="js/woronaCordova.js"/>

  <js-module src="www/woronaCordova.js" name="woronaCordova">
    <clobbers target="woronaCordova" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WoronaCordova">
        <param name="android-package" value="org.worona.cordova.WoronaCordova"/>
      </feature>
    </config-file>

    <source-file src="src/android/WoronaCordova.java" target-dir="src/org/worona/cordova/"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="WoronaCordova">
        <param name="ios-package" value="HWPWoronaCordova" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPWoronaCordova.h" target-dir="WoronaCordovaPlugin"/>
    <source-file src="src/ios/HWPWoronaCordova.m" target-dir="WoronaCordovaPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/WoronaCordova.cs"/>
  </platform>

</plugin>
